<h1>Ask a question</h1>

<%= error_messages_for :question %>

<% form_for(@question) do |f| %>
  Title (Mandatory -- if the question is short, you can put your question here):
  <p>
    <%= f.text_field :title, {:maxlength => '70' } %>
  </p>
  
  Your whole question (Not mandatory):
   <p>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>
