<p>This site is an attempt to amass all of the best modern economists in one place, to provide answers to your economic questions.  All are encouraged
to sign up and ask them a question.</p>

<p>Here's a great example, taken from a Thomas Sowell interview:</p>

<div class="quote"><p><b>John Hawkins</b>: Could you explain why rent control is a bad idea?</p>

<p><b>Thomas Sowell</b>: Like all forms of price control, rent control leads to a simultaneous increase in the amount demanded 
and a reduction in the amount supplied. The resulting shortage then means that landlords need not spend as much money 
maintaining rented premises, because there are more applicants than apartments, thus leading to a faster deterioration 
over time. Meanwhile, fewer replacements -- sometimes none -- are built because of low or non-existent profits. This scenario 
has been played out in countries around the world -- in Australia, Sweden, France, England, the United States, for example.</p></div>

<p>Short, simple, and to the point.  Of course, longer questions and answers are encouraged as well.</p>

<p>I hope you enjoy this site.</p>