<% form_for([@question, @link]) do |f| %>
  <p>
    Full URL: <%= f.text_field :body %>
  </p>
  
  <p>
    Text: <%= f.text_field :words %>
  </p>
  
  <p>
  	User_id: <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit button_name %>
  </p>
<% end %>
